# Dependencies
/node_modules

# Keep environment variables out of version control
.env
.env.local
.env.*.local

# Logs
*.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Prisma ignores
/prisma/migrations
/prisma/generated
/prisma/dev.db
/prisma/dev.db-journal